section#game {
    display: none;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    font-size: 30px;
    font-family: "arial,sans-serif";
}

section#game .start {
    display: block;
    padding-top: 50%;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 50%;
    cursor: pointer;
}

section#game .start .high-scores {
    text-align: left;
    display: none;
}